* {
    --launch-primary-color: #69843a;
    --launch-secondary-color: #f7f7f0;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--launch-primary-color);
    display: grid;
}

.master-container {
    height: 100vh;
    display: grid;
    
}

.launch-page-container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: var(--launch-secondary-color);
    height: 80vh;
    width: 60%;
    place-self: center;
    box-shadow: 6px 7px 0px 3px black;
    border: 2px dashed var(--launch-primary-color)
}

#launch-header {
    display: grid;
    color: var(--launch-primary-color);
    font-size: 7vh;
}

#launch-header #game-title {
    place-self: center;
    font-family: 'Secular One', sans-serif;
    border-bottom: 5px dashed;
}

.launch-content {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-content: center;
}

.launch-content label {
    color: var(--launch-primary-color);
    font-family: 'Secular One', sans-serif;
    font-size: 12vh;
    align-self: center;
}

input.checkbox {
    width: 40px;
    height: 40px;
}

input.checkbox :active {
    background-color: var(--launch-primary-color);
}

#launch-start-game {
    display: flex;
    place-content: center;
    border-top: 5px dashed var(--launch-primary-color);
}

#button-start-game {
    color: var(--launch-primary-color);
    font-family: 'Secular One', sans-serif;
    font-size: 12vh;
    position: center;
    cursor: pointer;
    background-color: #fffbbe;
    border-radius: 16px;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 4px solid;
    box-shadow: 4px 3px 3.5px rgba(0,0,0,0.65);
    
}